<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Main</title>
  <link rel="stylesheet" href="../css/menubar.css" />
  <link rel="stylesheet" href="../css/Main.css" />
</head>

<body>
  <div class="main">
    <div class="header">
      <img onclick="location.href='/Main'" src="../ihu_logo2.png" style="cursor: pointer;" class="ihu_logo2" />
    </div>
    <a href="#cd-nav" class="cd-nav-trigger">Menu
      <span class="cd-nav-icon"></span>

      <svg x="0px" y="0px" width="54px" height="54px" viewBox="0 0 54 54">
        <circle fill="transparent" stroke="#656e79" stroke-width="1" cx="27" cy="27" r="25" stroke-dasharray="157 157"
          stroke-dashoffset="157"></circle>
      </svg>
    </a>
    <div id="cd-nav" class="cd-nav">
      <div class="cd-navigation-wrapper">
        <div class="cd-half-block">
          <nav>
            <ul class="cd-primary-nav">
              <li><a href="/chat">음성채팅</a></li>
              <li><a href="/Record_ready">소리알림</a></li>
              <li><a href="/Stat_time">기간통계</a></li>
              <li><a href="/Stat_spot">위치통계</a></li>
              <li><a href="/Setting">환경설정</a></li>
              <li><a href="/">로그아웃</a></li>
            </ul>
          </nav>
        </div>
        <!-- .cd-half-block -->
      </div>
      <!-- .cd-navigation-wrapper -->
    </div>
    <!-- .cd-nav -->

    <div onclick="location.href='/chat'" class="btn" id="btn_1">
      <img src="../voice_icon.png" /><span>음성채팅</span>
    </div>
    <div onclick="location.href='/Record_ready'" class="btn" id="btn_2">
      <img src="../sound_icon.png" /><span>소리알림</span>
    </div>

    <div class="btn" id="btn_3">
      <div class="container-item">
        <div class="item">
          <div class="item-overlay"></div>
          <div class="item-content">
            <div class="item-add-content">
              <div class="item-add-content-inner">
                <div onclick="location.href='/Stat_spot'" class="section">
                  <a href="/Stat_time" class="btn buy expand">기간 별 통계</a>
                </div>
                <div class="section">
                  <a href="/Stat_spot" class="btn buy expand">위치 별 통계</a>
                </div>
              </div>
            </div>
          </div>
          <span>소리통계</span>
        </div>
      </div>
    </div>
    <div onclick="location.href='/Setting'" class="btn" id="btn_4">

      <img src="../setting_icon.png" /><span>환경설정</span>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../js/menubar.js"></script>
<script src="../js/Main.js"></script>

</html>