<style>

</style>

<body>
  <div>
    <div>
      <h1>회원가입 페이지</h1>
    </div>
    <form action="">
      <input type="text" id="email" placeholder="이메일 입력">
      <br>
      <input type="password" id="pw" placeholder="비밀번호 입력">
      <br>
      <input type="password" id="confirm_pw" placeholder="비밀번호 확인">
      <br>
      <button type="submit" id="btn_register">회원가입</button>
    </form>
    <a href="login">로그인</a>
  </div>
</body>

<script src="../js/register.js"></script>